<% @survey.questions.each do |question| %>
	<li><%= question.description %></li>
	<table class="table table-bordered">
	<% Answer.distinct(:answer).where('question_id = ?', question.id).group(:answer).count.each do |k, v| %>
		<tr>
			<th><%= k %></th>
			<td><%= v %></td>
		</tr>
	<% end %>
	</table>
<% end %>