<div class="span12" style="margin: 5px 0 5px 0">
	<img class="span4 img-thumbnail funcionario-img" src="<%= employee.picture.thumb %>">
	<div class="span8">
		<h2><%= employee.name %></h2>
		<p><%= employee.info %></p>
	</div>
</div>
<br>
<br>
