<h1 class="page-header">Visualizar Mapa</h1>
<div class="features row">
  <div class="span8">
    <div class="well">
      <p><img src="/assets/mapa.jpg" width="100%" ></p>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <input type="search" placeholder="pesquisar mapas" width="100%">
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Brasil</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jake</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-success btn-block">Button Text</a>
      <p></p>
    </div>
  </div>
</div>
