<html>
<head>
<meta charset=utf-8 />
<title>A Simple Map</title>
  
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  
  <style>
    #map { position:absolute; top:60px; bottom:0; width:100%; left: 0; }
    #top-image {display: none;}
  </style>
</head>
<body>
<%debugger%>
<% if  flash[:notice] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">X</button>
      <%= flash[:notice] %>
    </div>  
 <% end %>
<div class="map-tools"><a href="#" id="new_marker" title="Adcione Um ponto"><img src="/assets/marker-plus.png"></a></div>
<div id='map'></div>
<script>
var map = L.mapbox.map('map', 'hifenhur.gb2cc0e3').setView([0.004913806909266322, 0.006780624389648437], 17);
</script>
</body>
</html>

<%= render partial: 'map_point' %>

<script type="text/javascript">
	$('#new_marker').click(function(){
		$('#new_point').remove()
		$('#map').append("<img src='/assets/marker-plus.png' id='new_point' style='position: absolute' width='35'>")
	})

	$("body").mousemove(function(e) {
    	$('#new_point').css({top: e.pageY-95, left: e.pageX-20})
	})
	map.on('click', function(e) {
		if ($('#new_point').is(Object)) {
			$('.longitude').val(e.latlng.lng);
			$('.latitude').val(e.latlng.lat);
			$('.modal').modal('toggle')
      $('#new_point').remove()
		};
		
	});


</script>

 <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: -99">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Fazer Comentario ou denúncia</h3>
        </div>
        <div class="modal-body">

         

          <form id="point_submit" action="/maps/<%= @map.id %>/points" method="post" enctype="multipart/form-data">
            <input type="hidden" name="point[longitude]" editable="false" class="longitude">
            <input type="hidden" name="point[latitude]" editable="false" class="latitude">
            <input type="hidden" name="point[map_id]" id="point-id" value='<%= @map.id%>'>
            <input type="hidden" name="point[verified]" id="point-id" value='false'>
            <label for="fileupload">Imagem</label>
            <input id="fileupload" type="file" name="point[image]" data-url="/point/images" multiple>
            <br>
            <textarea  placeholder="Descrição do Ponto" name="point[title]" style="width: 90%; height: 300px;"> </textarea>
            <input type="submit" style="display: none" id="submit">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary submit-form" onclick="$('#submit').click()">Criar Ponto</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script type="text/javascript">
  $('#myModal').bind('hide', function () {
   $(this).css({"z-index": -99})
  });
  $('#myModal').bind('show', function () {
   $(this).css({"z-index": 9999999})
  });
  </script>