
<div class="links row">
	


</div>
<br>
<br>
<br>
<div class="maps-home row-fluid">
	<div class="span4">
		<h2>Ultimo Mapa</h2>
		<%= render partial: '/maps/map', collection: Map.order('created_at').limit(1) %>
	</div>
	<div class="span8">
		<h2>Ultimos Documentos</h2>
		<table class="table">
			<%@documents.each do |document|%>
				<tr>
					<td><%= document.created_at%></td>
					<td><%= link_to document.name, document.file.url%></td>
				</tr>
			<% end %>
		</table>
	</div>
	
</div>


<style type="text/css">
.links{
	margin-top: 140px;
}
.links .span4 {
text-align: center;
}
.links a {
background: darkcyan;
display: block;
padding: 21px;
border-radius: 335px;
border: 8px solid black;
}
</style>

