
<div class="links row">

	<div class="span4">
		<a href="/maps">
		<p><%= image_tag "map.png" %></p>
		<h2>MAPAS</h2>
		</a>
	</div>

	<div class="span4">
		<a href="/documents">
		<p><%= image_tag "file.png" %></p>
		<h2>DOCUMENTOS</h2>
		</a>
	</div>

	<div class="span4">
		<a href="/surveys">
		<p><%= image_tag "paste.png" %></p>
		<h2>QUESTIONARIOS</h2>
		</a>
	</div>

</div>
<style type="text/css">
.links{
	margin-top: 140px;
}
.links .span4 {
text-align: center;
}
.links a {
background: darkcyan;
display: block;
padding: 21px;
border-radius: 335px;
border: 8px solid black;
}
</style>