<tr>
	<td><a href="<%= document.file %>"><%= image_tag "download.png", width: 22 %></a></td>
    <td><%= document.name %></td>
    <td><%= l document.created_at, format: :short if document.created_at %></td>
    
  </tr>