<h1>Formularios</h1>

<form data-remote="true" >
	<input name="q[name_cont]" class="search pull-right" type"search" placeholder="Pesquisa" onkeyup="$('form').submit()">
</form>

<br>
<br>

<table class="table bordered-table">
  <tr>
  	<th>Download</th>
    <th>Nome</th>
    <th>Criado em</th>
    <% if current_user %>
    	<th></th>
    <% end %>
  </tr>

	<%= render @documents %>

</table>
<%= will_paginate @documents %>
<br />

<%= admin_link 'Novo Documento', new_document_path %>
