<div class="pull-right">
	<%= link_to 'Ver', @survey, class: 'btn btn-primary' %> |
	<%= link_to 'Voltar', surveys_path, class: 'btn btn-primary' %>
</div>
<h1>Editando Questionario</h1>

<%= render 'form' %>


