<div class="navbar navbar-static-top">
      <div id="top-image"></div>
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">        <span class="icon-bar"></span>        <span class="icon-bar"></span>        <span class="icon-bar"></span>      </a><a class="brand" href="/"><%= image_tag('mini-logo.png', width: 50) %></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a class="active" href="/maps">
                  <img class="nav-ico" src="/assets/map.png">
                  Mapas
                </a> 
              </li>
              <li>
                <a href="/surveys">
                  <img class="nav-ico" src="/assets/stats.png">
                  Indicadores
                </a> 
              </li>
              <li>
                <a href="/estudos">
                  <img class="nav-ico" src="/assets/book.png">
                  Estudos
                </a> 
              </li>
            </ul>
          </div>
          <ul class="nav pull-right visible-desktop">
            <li>
              <% if current_user %>
                <a href="/users/sign_out" data-method="delete">Sair</a> 
                <% else %>
                <a href="/users/sign_in" >Entrar</a>                   
              <% end %>
              
            </li>
          </ul>
        </div>
      </div>
    </div>