<div class="navbar navbar-static-top">
      <div id="top-image"></div>
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li id="home">
                <a  href="/">
                  <img class="nav-ico" src="/assets/library.png">
                  Sobre o Projeto
                </a> 
              </li>
              <li id="maps">
                <a  href="/maps">
                  <img class="nav-ico" src="/assets/map.png">
                  Mapas
                </a> 
              </li>
              <li id="">
                <a href="#">
                  <img class="nav-ico" src="/assets/stats.png">
                  Indicadores
                </a> 
              </li>
              <li id="documents">
                <a href="/documents">
                  <img class="nav-ico" src="/assets/newspaper.png">
                  Formulários
                </a> 
              </li>
              <li id="estudos">
                <a href="/estudos">
                  <img class="nav-ico" src="/assets/book.png">
                  Estudos
                </a> 
              </li>
              <li id="employees">
                <a href="/employees">
                  <img class="nav-ico" src="/assets/users.png">
                  Equipe
                </a> 
              </li>

              <%if current_user%>
                 <li id="points">
                    <a href="/points">
                      <img class="nav-ico" src="/assets/map.png">
                      Marcadores
                    </a> 
                  </li>
              <% end %>
            </ul>
          </div>
          <ul class="nav pull-right visible-desktop">
            <li>
              <% if current_user %>
                <a href="/users/sign_out" data-method="delete">Sair</a> 
                <% else %>
                <a href="/users/sign_in" >Entrar</a>                   
              <% end %>
              
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $("#<%= params[:controller] %>").addClass('active')
    </script>